

.main-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: none;
    margin: auto;
    padding-left: 10px;
    text-align: center;
    flex-wrap: wrap;
}

.mainPic {
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 15vh;
    overflow: hidden;
}

.mainPic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 25px;
}

.parallax-text {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    font-size: 1.5em; 
    font-weight: bold;
    padding: 10px; 
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
}


@media screen and (max-width: 768px) {
    .mainPic {
        height: 200px;
    }
    .mainPic img {
        border-radius: 5px;
    }
}



.sub-div {
    display: block;
    width: 42%;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 15px;
    margin: 10px 0;
}
.section{
    display: grid;
    width: 90%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    
}

.img-section{
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    align-items: center;
}
.text-box {
    width: 100%;
    border-radius: 1vh;
    overflow: hidden;
    word-wrap: break-word;
    color: white;
    background: rgba(0, 0, 0, 0.5);
}



.img-section img {
    align-items: center;
    /* float: left; */
     width: 200px;
    height: 200px;
     
    margin: 5px;
    border-radius: 10px;
    transition: transform .4s ease;  
    transition-duration: .7;
}

.img-section img:hover{
    transform: scale(1.5);

}

@media screen and (max-width:768px){
       
        .main-content{
            width: 90%;
            display: block;
            float: none;
        }

        .mainPic{
            margin-top: 20px;
            /* background-color: black; */
            width: 100%;
            height: 200px;
            /* border-radius: 20px; */
        }
        
        .mainPic img{
            width: 100%;
            height: 200px;
            border-radius: 5px;
            /* border-radius: 0%; */
        }

        .sub-div{
            width: 100%;
            margin: 10px auto;
        }

        .section{
            width: 100%;
            display: block;
            float:none;
        }
        .text-box {
            display: block;
            width: 78%;
            padding: 10px;
            box-sizing: border-box; 
            border-radius: 1vh;
        }

        .sub-div img {
        
            width: 220px;
           height: 220px;
           object-fit: cover;
           display: block;
           align-items: center;
       }

       .img-section{
        align-items:center ;
        width: 100%;
       }
    }

    .yellow-background {
        width: 100%;
    }

    
    .icon-background {
    padding: 1% 1%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    width: 100%;
    min-height: 40vh;
    /* background-color: white; */
    opacity: 0.9;
    border-radius: 5vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;

    @media screen and (max-width: 768px) {
        min-height: 20vh;
    }
}

.panels {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
    border-radius: 5vh;
    margin: 5px;
}

.panel-content {
    border-radius: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 40vh;
    overflow: hidden;
}

.panel-content img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 10px; 
}



.panel-content h1 {
    margin: 0;
}
